// Variables
@import "../../colors.scss";
$bar-color: $color-4;
$ball-color: $color-4;
$bg-color: $white;

#loader-overlay{
	display: none;

	article{
		padding: 0;
		transition: all .2s ease-in-out;
	}
}

#loader-overlay.active{
	position: absolute;
	z-index: 5;
	height: 100vh;
	width: 100vw;
	padding: 1em;
	background-color: rgba($white, .7);
	display: flex;

	article{
		margin: auto;
		position: relative;
		max-width: 100%;
		padding: 4em 2em;
		transition: all .2s ease-in-out;

		div{
			padding: .5em;

      p{
        font-size: 1.28em;
      }
		}
	}
}

.loader {
  position: relative;
  width: 75px;
  height: 100px;

  &__bar {
    position: absolute;
    bottom: 0;
    width: 10px;
    height: 50%;
    background: $bar-color;
    transform-origin: center bottom;
    box-shadow: 1px 1px 0 rgba(0,0,0,.2);

    @for $i from 1 through 5 {
       &:nth-child(#{$i}) {
         left: ($i - 1) * 20px;
         transform: scale(1,$i*.2);
         animation: barUp#{$i} 4s infinite;
        }
    }

  }

  &__ball {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 10px;
    height: 10px;
    background: $ball-color;
    border-radius: 50%;
    animation: ball 4s infinite;
  }
}

@keyframes ball {
  0% {
    transform: translate(0, 0);
  }
  5% {
    transform: translate(10px, -14px);
  }
  10% {
    transform: translate(20px, -10px)
  }
  17% {
    transform: translate(30px, -24px)
  }
  20% {
    transform: translate(40px, -20px)
  }
  27% {
    transform: translate(50px, -34px)
  }
  30% {
    transform: translate(60px, -30px)
  }
  37% {
    transform: translate(70px, -44px)
  }
  40% {
    transform: translate(80px, -40px)
  }
  50% {
    transform: translate(80px, 0)
  }
  57% {
    transform: translate(70px, -14px)
  }
  60% {
    transform: translate(60px, -10px)
  }
  67% {
    transform: translate(50px, -24px)
  }
  70% {
    transform: translate(40px, -20px)
  }
  77% {
    transform: translate(30px, -34px)
  }
  80% {
    transform: translate(20px, -30px)
  }
  87% {
    transform: translate(10px, -44px)
  }
  90% {
    transform: translate(0, -40px)
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes barUp1 {
  0% {
    transform: scale(1, .2);
  }
  40%{
    transform: scale(1, .2);
  }
  50% {
    transform: scale(1, 1);
  }
  90% {
    transform: scale(1,1);
  }
  100% {
    transform: scale(1,.2);
  }
}
@keyframes barUp2 {
  0% {
    transform: scale(1, .4);
  }
  40% {
    transform: scale(1, .4);
  }
  50% {
    transform: scale(1, .8);
  }
  90% {
    transform: scale(1, .8);
  }
  100% {
    transform: scale(1, .4);
  }
}
@keyframes barUp3 {
  0% {
    transform: scale(1, .6);
  }
  100% {
    transform: scale(1, .6);
  }
}
@keyframes barUp4 {
  0% {
    transform: scale(1, .8);
  }
  40% {
    transform: scale(1, .8);
  }
  50% {
    transform: scale(1, .4);
  }
  90% {
    transform: scale(1, .4);
  }
  100% {
    transform: scale(1, .8);
  }
}
@keyframes barUp5 {
  0% {
    transform: scale(1, 1);
  }
  40% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, .2);
  }
  90% {
    transform: scale(1, .2);
  }
  100% {
    transform: scale(1, 1);
  }
}
