@import "../../colors.scss";
@import "../../../node_modules/@fortawesome/fontawesome-free/css/all.min.css";

nav{
    width: 12em;
    max-width: 100%;
    background-color: $color-1;
    color: $white;

    ul{
        list-style: none;
        padding: 0;
        margin: 0;

        li{
            border-top: solid .01em $color-2;

            button{
                cursor: pointer;
                padding: 1em;
                background-color: transparent;
                color: #fff;
                font-size: 1em;
                border: none;
                width: 100%;
                text-align: left;

                i{
                    margin-right: 1em;
                    font-size: 1.25em;
                    font-weight: bold;
                }
            }

            button:hover, button.active{
                background-color: $color-2;
                color: $color-1;
            }

            button:active{
                outline: none;
            }
        }

        li:first-child{
            border-top: none;
            background-color: $white;

            a{
                width: 100%;
                display: flex;

                img{
                    margin: auto;
                    padding: .25em;
                    width: 40%;
                }
            }
        }

        li:last-child{
            border-bottom: solid .01em $color-2;
        }
    }
}